<!DOCTYPE html>
<html>
  <head>
    <title>Twitter</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <% if flash[:notice] %>
      <div class="notice"><%= flash[:notice] %></div>
    <% end %>  

    <nav>
      <%=link_to 'Home' , root_path %>
      <% if current_user.present? %>
        <p>You´re logged as <%= current_user.name %><p>
        <%= link_to 'Logout' %>
      <% else %>
        <%= link_to 'Login' %>
        <%=link_to 'Sing up' , singup_path %>
    </nav>

    <div class= "container">
    <%= yield %>
    <div>
  </body>
</html>
